/* Colors */
:root {
  --background-hero-footer: #2f303a;
  --active-link-color: #2196f3;
  --font-hero-color: #ffffff;
}

body {
  color: #757575;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}

/* Header */
.studio {
  color: #000000;
}
.web {
  color: var(--active-link-color);
}
.nav-page .link {
  color: #212121;
}
.nav-page .link:hover,
.nav-page .link:focus,
.nav-page .link.now {
  color: var(--active-link-color);
}

.cont-page a {
  color: #757575;
}
.cont-page a:hover,
.cont-page a:focus {
  color: var(--active-link-color);
}

/* Main */
.hero {
  background-color: var(--background-hero-footer);
  color: var(--font-hero-color);
}
.button {
  color: var(--font-hero-color);
  background-color: var(--active-link-color);
  cursor: pointer;
}
.our-team {
  background-color: #f5f4fa;
}
/* Footer */
.footer {
  background-color: var(--background-hero-footer);
}
.studio-fot {
  color: var(--font-hero-color);
}
.cont-foot a {
  color: rgba(255, 255, 255, 0.6);
}
.cont-foot a:hover,
.cont-foot a:focus {
  color: var(--active-link-color);
}
/* PORTFOLIO */

.btn-portfolio {
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}
.btn-portfolio:hover,
.btn-portfolio:focus,
.current {
  color: var(--font-hero-color);
  background-color: var(--active-link-color);
  cursor: pointer;
}
